
<form class="formulario">
    <div class="titulo">
        <span> Centro de Acopio:  </span>
    </div>
    <div class="linea">
    </div>
    <div class="contenido">

        <input type="text" placeholder="Nombre del Centro de Acopio" readonly/>
        
        <div class="col-half">
            <select name='tipoCentro'>
                <option selected value="">Seleccione una Categoria</option>
            </select>
        </div>

        <div class="col-half"><input class="e" type="tel"  placeholder="Telefono" readonly/></div>
        
        <input type="text" placeholder="Dirección" readonly/>

        <textarea placeholder="Descripción" readonly></textarea>

        <div class="col-half"><input class="e" style="width: 100%;" type="text"  placeholder="Latitud" readonly/></div>
        <div class="col-half"><input class="e" type="text"  placeholder="Longitud" readonly/></div>

        <div class="col-half">
            <select name='estado'>
                <option selected value="">Seleccione un Estado</option>
            </select>
        </div>
        <div class="col-half"><input class="e" type="text"  placeholder="Horario" readonly/></div>
        

        <div class="p">
            <button type="button" class="boton"> Aceptar </button>
        </div>

    </div>

</form>


