<p>user-list works!</p>

<button type="button" class="btn btn-outline-dark"(click)='gotoUserCreate()'><mat-icon>add_circle_outline</mat-icon></button>
<button type="button" class="btn btn-outline-warning" (click)='gotoUserView()'><mat-icon>remove_red_eye</mat-icon></button> 
<button type="button" class="btn btn-outline-info mx-2" (click)='gotoUserEdit()'><mat-icon>edit</mat-icon></button>
<button type="button" class="btn btn-outline-danger" (click)='gotoUserDelete()'><mat-icon>restore_from_trash</mat-icon></button>