
<form class="formulario">
    <div class="titulo">
        <span> Usuario : {{datosUser.rol}} </span>
    </div>
    <div class="linea">
    </div>
    <div class="contenido">

        <div class="nombrecito"> Nombre </div>
        <input type="text" placeholder="Nombre de Usuario" value="{{datosUser.nombre}}"readonly/>

        <div class="nombrecito"> Apellido </div>
        <input type="text" placeholder="Apellido de Usuario" value="{{datosUser.apellido}}"readonly/>

        <div class="nombrecito"> Email </div>
        <input type="email" placeholder="Correo" value="{{datosUser.email}}" readonly/>

        <div class="nombrecito"> Contraseña </div>
        <input type="password" placeholder="Contraseña" value ="Dato Protegido" readonly/>

        <div class="nombrecito"> Estado del Usuario </div>
        <input type="text" placeholder="Estado" value="{{datosUser.estado}}"readonly/>
        

        <div class="p">
            <button type="button" class="boton" (click)="onNoClick()"> Aceptar </button>
        </div>

    </div>

</form>


