
<form class="formulario">
    <div class="titulo">
        <span> Usuario :  </span>
    </div>
    <div class="linea">
    </div>
    <div class="contenido">

        <input type="text" placeholder="Nombre de Usuario" readonly/>
        <input type="email" placeholder="Correo" readonly/>
        <input type="password" placeholder="Contraseña" readonly/>
        <input type="text" placeholder="Estado" readonly/>
        
        <textarea placeholder="Observaciones"readonly></textarea>

        <div class="p">
            <button type="button" class="boton"> Aceptar </button>
        </div>

    </div>

</form>


