
<form class="formulario" [formGroup]='formInformation' (ngSubmit)="Editar(formInformation.value)">
    <div class="titulo">
        <span> Edición Ficha de Información </span>
    </div>
    <div class="linea">
    </div>
    <div class="contenido">

        <div class="nombrecito"> Titulo </div>
        <input type="text" formControlName="titulo" placeholder="Titulo" />
        
        <div class="col-half">
            <div class="nombrecito"> Tipo o Categoria </div>
            <select name='tipoInformacion' formControlName="tipo">
                <option selected value="">Seleccione un tipo</option>
            </select>
        </div>
        
        <div class="col-half">
            <div class="nombrecito"> Fecha de Creación </div>
            <input class="e" type="date"  formControlName="fecha" placeholder="Fecha" />
        </div>
        
        <div class="nombrecito"> Descripción </div>
        <textarea  formControlName="descripcion" placeholder="Descripción"></textarea>
        
        <div class="nombrecito"> URL de la Imagen </div>
        <input type="text"  formControlName="url_imagen" placeholder="Url"/>

        <div class="nombrecito"> Detalle </div>
        <input type="text"  formControlName="detalle" placeholder="Detalle"/>
        
        <div mat-dialog-actions class="p">
            <button type="button" class="boton" > Editar Ficha de Informativa </button>
            <button type="button" class="boton2" (click)='Cancelar()'> Cancelar </button>
        </div>

    </div>

</form>


