
<form class="formulario">
    <div class="titulo">
        <span> Nuevo Usuario </span>
    </div>
    <div class="linea">
    </div>
    <div class="contenido">

        <input type="text" placeholder="Nombre de Usuario" />
        <input type="email" placeholder="Correo" />
        <input type="password" placeholder="Contraseña" />
        <input type="text" placeholder="Estado" />
        
        <textarea placeholder="Observaciones"></textarea>

        <div class="p">
            <button type="button" class="boton"> Guardar </button>
        </div>

    </div>

</form>

