<div class="contenedor-general mt-5">
  <div class="example-button-row mr-4">
    <div class="buscador">
      <h3> Seleccione su departamento: </h3>

      <mat-form-field appearance="fill">
        <mat-label>Departamento</mat-label>
        <mat-select [(value)]="selectedDep">
          <mat-option></mat-option>
          <mat-option [value]="option.value" *ngFor="let option of departamentos">{{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="buscador">
      <h3 class="mr-5"> Seleccione un año: </h3>

      <mat-form-field appearance="fill">
        <mat-label>Año</mat-label>
        <mat-select [(value)]="selectedAn">
          <mat-option></mat-option>
          <mat-option [value]="option.value" *ngFor="let option of anios">{{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button class="agua">
        <mat-icon>check_circle_outline</mat-icon>
        Área de Cultivos
      </button>
      <input [value]="area_de_cultivos" type="text" disabled placeholder="0.25412" class="ml-3">
    </div>

    <div>
      <button mat-raised-button class="clima">
        <mat-icon>check_circle_outline</mat-icon>
        Área de Pastoreo
      </button>
      <input [value]="area_de_pastoreo" type="text" disabled placeholder="0.25412" class="ml-3">
    </div>

    <div>
      <button mat-raised-button class="atmosfera">
        <mat-icon>check_circle_outline</mat-icon>
        Área de Bosques
      </button>
      <input [value]="area_de_bosques" type="text" disabled placeholder="0.25412" class="ml-3">
    </div>

    <div>
      <button mat-raised-button class="residuos">
        <mat-icon>check_circle_outline</mat-icon>
        Zona de Pesca
      </button>
      <input [value]="zonas_de_pesca" type="text" disabled placeholder="0.25412" class="ml-3">
    </div>

    <div>
      <button mat-raised-button class="bio">
        <mat-icon>check_circle_outline</mat-icon>
        Huella de Carbono
      </button>
      <input [value]="huella_de_carbono" type="text" disabled placeholder="0.25412" class="ml-3">
    </div>

    <div>
      <button mat-raised-button class="recursos">
        <mat-icon>check_circle_outline</mat-icon>
        Área Urbana
      </button>
      <input [value]="areas_urbanas" type="text" disabled placeholder="0.25412" class="ml-3">
    </div>

    <button mat-raised-button class="per-capita">
      <mat-icon>check_circle_outline</mat-icon>
      Huella Per Cápita
    </button>
    <input [value]="huella_regional_percapita" type="text" disabled placeholder="0.25412"
      class="valor-per-capita ml-2 mt-2">
    <p class="mb-0">* Precisión del Pronóstico (%): {{ presicion }}</p>
    <p class="mt-0">** Dicha precisión se aplica desde el año 2016 en adelante</p>

    <button class="calcular btn btn-outline-primary mt-3 mb-3" (click)="getDataFromServer()">
      Calcular
    </button>
  </div>

  <div class="content-grafico mt-5">
    <div class="grafico chart-wrapper mt-5">
      <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegent" [chartType]="lineChartType">
      </canvas>
    </div>
  </div>
</div>