<form class="formulario" >
    <div class="titulo">
        <span> Ficha Informativa : {{datosFicha.titulo}} </span>
    </div>
    <div class="linea">
    </div>
    <div class="contenido">

        <input type="text" placeholder="Titulo" value="{{datosFicha.titulo}}" readonly/>
        
        <div class="col-half">
            <select name='tipoInformacion'>
                <option selected value="">{{datosFicha.tipo}}</option>
            </select>
        </div>
        
        <div class="col-half"><input class="e" type="date" placeholder="Fecha" value="{{datosFicha.fecha}}" readonly/></div>
        
        <textarea placeholder="Descripción" value="{{datosFicha.descripcion}}" readonly></textarea>
        
        <input type="text" placeholder="Url" value="{{datosFicha.url_imagen}}" readonly/>

        <!--<h4> Detalle <span> (Maximo agregar 5 items) </span></h4>-->
        
        <textarea placeholder="Detalle" value="{{datosFicha.detalle}}"></textarea>

        <!--<div formArrayName="detalle">
            <div *ngFor="let item of getDetalle.controls; let pointIndex=index">
                <input class="especial" formControlName="detalle" /> 
                <a class="btn btn-outline-danger" (click)="removeDetalle(pointIndex)">Eliminar</a>
            </div>
            <a class="btn btn-outline-success" (click)="addDetalle()">Añadir</a>
        </div>-->

        <div mat-dialog-actions class="p">
            <button type="button" class="boton" (click)='onNoClick()'> Aceptar </button>
        </div>

    </div>

</form>

