<form class="formulario" [formGroup]='formInformation'>
    <div class="titulo">
        <span> Ficha Informativa : {{datosficha.id}} </span>
    </div>
    <div class="linea">
    </div>
    <div class="contenido">

        <input type="text" formControlName="titulo" placeholder="Titulo" readonly/>
        
        <div class="col-half">
            <select name='tipoInformacion' formControlName="tipo">
                <option selected value="">Seleccione un tipo</option>
            </select>
        </div>
        
        <div class="col-half"><input class="e" type="date"  formControlName="fecha" placeholder="Fecha" readonly/></div>
        
        <textarea  formControlName="descripcion" placeholder="Descripción" readonly></textarea>
        
        <input type="text"  formControlName="url_imagen" placeholder="Url" readonly/>

        <!--<h4> Detalle <span> (Maximo agregar 5 items) </span></h4>-->
        
        <input type="text"  formControlName="detalle" placeholder="Detalle" readonly/>

        <!--<div formArrayName="detalle">
            <div *ngFor="let item of getDetalle.controls; let pointIndex=index">
                <input class="especial" formControlName="detalle" /> 
                <a class="btn btn-outline-danger" (click)="removeDetalle(pointIndex)">Eliminar</a>
            </div>
            <a class="btn btn-outline-success" (click)="addDetalle()">Añadir</a>
        </div>-->

        <div mat-dialog-actions class="p">
            <button type="button" class="boton" (click)='onNoClick()'> Aceptar </button>
        </div>

    </div>

</form>

