<h4> Consejos recomendaciones y datos curiosos, <span> para que recicles de forma correcta y sencilla </span></h4>

<div class="conponent">
    <mat-grid-list cols="2" rowWidth="50%" rowHeight="350px">
        <div *ngFor = "let registro of cards">
            <mat-grid-tile>
                <mat-card class="card">
                    <mat-card-title-group>
                        <mat-card-title class="title">{{registro.titulo}}</mat-card-title>
                        <mat-card-subtitle class="tipo">{{registro.tipo}}</mat-card-subtitle>
                        <mat-card-subtitle class="fecha">{{registro.fecha}}</mat-card-subtitle>
                    </mat-card-title-group>
                    <mat-card-content class="texto">
                        {{registro.descripcion}}
                    </mat-card-content>
                    <mat-card-content class="texto">
                        {{registro.detalle}}
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <img mat-card-image class="imagen" src={{registro.url_imagen}}>
                </mat-card>
            </mat-grid-tile>
        </div>
      </mat-grid-list>    
</div>