.menu{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    border: none;
    background-color: #FFFEF6;
}

.menu:hover{
    color: #01D98B;
    border-bottom: 3px solid #01D98B;
}

.boton{
    margin-left: 10%;
    text-align: center;
    padding: 10px 20px;
    font-family: Roboto;
    font-style: normal;
    border: 1.5px solid #000000;
    border-radius: 10px;
    background-color: white;
}

.boton:hover{
    background-color: black;
    color: white;
    /*background-color: rgba(1, 217, 138, 0.219);
    border: 1.5px solid #01D98B;*/
}

nav{
    text-align: center;
}