nav{
    margin-top: 1%;
}

.logo{
    font-size: 25px;
    font-family: Roboto;
    font-style: bold;
    margin-right: 25%;
    margin-left: 1%;
    cursor: pointer;
}

.menu{
    font-family: Roboto;
    font-style: normal;
    font-size: 15px;
    border: none;
    background-color: #FFFEF6;
    cursor: pointer;
}

.menu:hover,
.menu:focus{
    color: #01D98B;
    border-bottom: 3px solid #01D98B;
}

nav{
    text-align: center;
    background-color: #FFFEF6;
}