
<form class="formulario">
    <div class="titulo">
        <span> Nuevo Centro de Acopio </span>
    </div>
    <div class="linea">
    </div>
    <div class="contenido">

        <input type="text" placeholder="Nombre del Centro de Acopio" />
        
        <div class="col-half">
            <select name='tipoCentro'>
                <option selected value="">Seleccione una Categoria</option>
            </select>
        </div>

        <div class="col-half"><input class="e" type="tel"  placeholder="Telefono" /></div>
        
        <input type="text" placeholder="Dirección" />

        <textarea placeholder="Descripción"></textarea>

        <div class="col-half"><input class="e" style="width: 100%;" type="text"  placeholder="Latitud" /></div>
        <div class="col-half"><input class="e" type="text"  placeholder="Longitud" /></div>

        <div class="col-half">
            <select name='estado'>
                <option selected value="">Seleccione un Estado</option>
            </select>
        </div>
        <div class="col-half"><input class="e" type="text"  placeholder="Horario" /></div>
        

        <div class="p">
            <button type="button" class="boton"> Guardar </button>
        </div>

    </div>

</form>

