
<form class="formulario" [formGroup]="formCenter">
    <div class="titulo">
        <span> Nuevo Centro de Acopio </span>
    </div>
    <div class="linea">
    </div>
    <div class="contenido">

        <!--<h4> Datos Generales <span>  </span></h4>-->
        
        <div class="nombrecito"> Nombre <span class="aste">(*)</span></div>
        <input type="text" placeholder="Nombre" formControlName="nombre" required/>
        <div class="validador" *ngIf="formCenter.get('nombre')?.invalid && formCenter.get('nombre')?.touched">Rellenar el campo</div>

        <div class="col-half">
            <div class="nombrecito"> Categoría <span class="aste">(*)</span></div>
            <select name='tipoCentro' formControlName="categoria" required>
                <option selected value="">Seleccione una Categoria</option>
            </select>
            <div class="validador" *ngIf="formCenter.get('categoria')?.invalid && formCenter.get('categoria')?.touched"></div>
        </div>

        <div class="col-half">
            <div class="nombrecito"> Teléfono <span class="aste">(*)</span></div>
            <input class="e" type="tel" formControlName="telefono" placeholder="Telefono" required/>
            <div class="validador" *ngIf="formCenter.get('telefono')?.invalid && formCenter.get('telefono')?.touched">Rellenar el campo</div>
        </div>
        
        <div class="nombrecito"> Dirección <span class="aste">(*)</span></div>
        <input type="text" placeholder="Dirección" formControlName="direccion" required/>
        <div class="validador" *ngIf="formCenter.get('direccion')?.invalid && formCenter.get('direccion')?.touched">Rellenar el campo</div>

        
        <div class="col-half">
            <div class="nombrecito"> Latitud <span class="aste">(*)</span></div>
            <input class="e" style="width: 100%;" type="text"  placeholder="Latitud" formControlName="latitud" required/>
            <div class="validador" *ngIf="formCenter.get('latitud')?.invalid && formCenter.get('latitud')?.touched"></div>
        </div>
        
        <div class="col-half">
            <div class="nombrecito"> Longitud <span class="aste">(*)</span></div>
            <input class="e" type="text"  placeholder="Longitud" formControlName="longitud" required/>
            <div class="validador" *ngIf="formCenter.get('longitud')?.invalid && formCenter.get('longitud')?.touched">Rellenar el campo</div>
        </div>

        <div class="nombrecito"> Descripción <span class="aste">(*)</span></div>
        <textarea placeholder="Descripción" formControlName="descripcion" required></textarea>
        <div class="validador" *ngIf="formCenter.get('descripcion')?.invalid && formCenter.get('descripcion')?.touched">Rellenar el campo</div>

        
        <div class="col-half">
            <div class="nombrecito"> Estado <span class="aste">(*)</span></div>
            <select name='estado' formControlName="estado" required>
                <option selected value="">Seleccione un Estado</option>
            </select>
            <div class="validador" *ngIf="formCenter.get('estado')?.invalid && formCenter.get('estado')?.touched"></div>
        </div>
        
        <div class="col-half">
            <div class="nombrecito"> Horario <span class="aste">(*)</span></div>
            <input class="e" type="text"  placeholder="Horario" formControlName="horario" required>
            <div class="validador" *ngIf="formCenter.get('horario')?.invalid && formCenter.get('horario')?.touched"></div>
        </div>


        <div class="p">
            <button type="button" class="boton" [disabled]='formCenter.invalid' (click)='Guardar()'> Agregar Centro de Acopio </button>
            <button type="button" class="boton2" (click)='Cancelar()'> Cancelar </button>
        </div>

    </div>

</form>

