.estilo{
    background-color: transparent;
    margin-left: 5%;
    margin-top: 2%;
}

.breadcrumb-item{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.03em;
}

.info{
    color: #055242;
}

.titulo{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    margin-left: 6%;
    color: #055242;
}
.linea{
    border-top: 1px solid #055242;
    height: 2px;
    max-width: 85%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 6%;
}
.texto{
    margin-left: 6%;
    position: relative;
    width: 80%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.03em;
}
img{
    position: relative;
    float: right;
    width: 10%;
    margin-left: 6%;
}
.lista{
    margin-left: 4%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.03em;
    list-style: none
}
.lista:before{
    content: "\2022";
    color: #0E8A8E;;
    display: inline-block;
    font-size: 40px;
    width: 1em;
    vertical-align: -11px;
}