
<form class="formulario" [formGroup]='formInformation'>
    <div class="titulo">
        <span> Nueva Ficha de Información </span>
    </div>
    <div class="linea">
    </div>
    <div class="contenido">

        <!--<h4> Datos Generales <span>  </span></h4>-->
        <div class="nombrecito"> Titulo </div>
        <input type="text" formControlName="titulo" placeholder="Titulo" />
        <div class="validador" *ngIf="formInformation.get('titulo')?.invalid && formInformation.get('titulo')?.touched">Rellenar el campo</div>

        <div class="col-half">
            <div class="nombrecito"> Tipo </div>
            <select name='tipoInformacion' formControlName="tipo">
                <option selected value="">Seleccione un tipo</option>
            </select>
            <div class="validador" *ngIf="formInformation.get('tipo')?.invalid && formInformation.get('tipo')?.touched">Rellenar el campo</div>
        </div>
        
        <div class="col-half">
            <div class="nombrecito"> Fecha de publicación </div>
            <input class="e" type="date"  formControlName="fecha" placeholder="Fecha" />
            <div class="validador" *ngIf="formInformation.get('fecha')?.invalid && formInformation.get('fecha')?.touched">Rellenar el campo</div>
        </div>
        
        <div class="nombrecito"> Descripción </div>
        <textarea  formControlName="descripcion" placeholder="Descripción"></textarea>
        <div class="validador" *ngIf="formInformation.get('descripcion')?.invalid && formInformation.get('descripcion')?.touched">Rellenar el campo</div>
        
        <div class="nombrecito"> URL </div>
        <input type="text"  formControlName="url_imagen" placeholder="Url"/>
        <div class="validador" *ngIf="formInformation.get('url_imagen')?.invalid && formInformation.get('url_imagen')?.touched">Rellenar el campo</div>

        <!--<h4> Detalle <span> (Colocar los items necesarios con saltos de linea) </span></h4>-->
        
        <div class="nombrecito"> Detalle </div>
        <textarea  class="especial" formControlName="detalle" placeholder="Detalle"></textarea>
        <div class="validador" *ngIf="formInformation.get('detalle')?.invalid && formInformation.get('detalle')?.touched">Rellenar el campo</div>

        <div mat-dialog-actions class="p">
            <button type="button" class="boton" [disabled]='formInformation.invalid' (click)='Guardar()'> Agregar Ficha de Informativa </button>
            <button type="button" class="boton2" (click)='Cancelar()'> Cancelar </button>
        </div>

    </div>

</form>

