
<form class="formulario">
    <div class="titulo">
        <span> Nueva Ficha de Información </span>
    </div>
    <div class="linea">
    </div>
    <div class="contenido">

        <input type="text" placeholder="Titulo" />
        <div class="col-half"><input class="e" type="text" placeholder="Tipo" /></div>
        <div class="col-half"><input class="e" type="date" placeholder="Fecha" /></div>
        <textarea placeholder="Descripción"></textarea>
        <input type="text" placeholder="Url"/>

        <h4> Detalle </h4>

        <div class="p">
            <button type="button" class="boton"> Guardar </button>
        </div>

    </div>

</form>

